.footer {
	background-color: #1d1d1e;
	width: 100%;
}

.footer__content {
	display: flex;
	width: 100%;
	gap: 187px;
}

.footer__logo_socials {
	display: grid;
	gap: 96px;
	padding-left: 113px;
	padding-top: 58px;
	padding-bottom: 37px;
	color: #fff;
}

.socials {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 32px;
	font-size: 18px;
}

.footer__content_socials {
	display: grid;
	gap: 55px;
}

.copyright {
	padding-left: 3px;
	font-size: 16px;
	line-height: 16px;
}

.footer__content_list {
	display: flex;
	gap: 217px;
	padding-top: 63px;
	padding-bottom: 90px;
	margin-right: 209px;
	color: #fff;
}

.footer__content_item {
	display: grid;
	gap: 23px;
}

.heading {
	font-size: 18px;
	font-weight: 700;
	line-height: 22.48px;
}

.footer__content_item ul {
	list-style: none;
	display: grid;
	gap: 16px;
}

.footer__content_item li {
	font-size: 14px;
	line-height: 35px;
	color: #f1f3f9;
}

@media screen and (max-width: 1023px) {
	.footer__content {
		display: grid;
		gap: 10px;
	}

	.footer__logo_socials {
		gap: 40px;
		padding: 30px;
	}

	.footer__content_socials {
		gap: 24px;
	}

	.footer__content_list {
		padding: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 48px;
		margin-right: 0;
		margin-bottom: 72px;
	}
}
