.partners {
	background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 100px;
	gap: 264px;

	height: 70px;
	width: 100%;
}

@media screen and (max-width: 1023px) {
	.partners {
		padding: 10px 30px;
		gap: 10px;
		justify-content: space-between;
	}

	.partners img {
		width: 30%;
	}
}
