.inspiration {
	margin-top: 19px;
}

.inspiration__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inspiration__header {
	margin-top: 39px;
	margin-bottom: 43px;

	font-weight: 700;
	font-size: 48px;
	line-height: 60px;

	color: #000;
}

@media screen and (max-width: 1023px) {
}
