.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 48px 0;
	gap: 64px;
}

.footer__line {
	width: 1280px;
	height: 2px;
	background-color: #eaecf0;
}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
	width: 1280px;
	height: 64px;
}

/* Mobile Version */

@media screen and (max-width: 890px) {
	.footer {
		width: 100%;
		padding: 32px 0;
	}

	.footer__line {
		width: 100%;
	}

	.footer__content {
		width: 100%;
		height: 132px;
		display: flex;
		padding: 0 16px;
		flex-direction: column;
		align-items: flex-start;
	}
}
